#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.App {
  display: flex;
}

.before {
  width: 10px;
}

input {
  width: 80px;
  height: 80px;
  text-align: center;
  outline: 2px solid white;
  border-radius: .5rem;
}

input:focus {

  outline-style: dashed;
  outline-width: 2px;
  outline-color: white;
}

.full {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

button {
  width: 200px;
}